body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: cyan;
  background-image: url('./images/background-image.jpg');
}

main{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  /* padding:10px; */

}
header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

#image {
  color: rgb(255, 98, 0);
  font-size: 50px;
  background-color: rgb(84, 81, 81);
}
#whack-a-mole {
  background-color: darkolivegreen;
  border: solid 10px #000;
  padding: 20px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('images/hole.png');
  background-size: contain;
  width: 110px;
  height: 123px;
  margin: 5px;
}

.mole {
  background-image: url('images/mole.png');
}

.playbtn {
  margin-top: 10px;
  background-color: bisque;
  /* width: 100%;
  height: 100%; */
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.middle-section {
  display: flex;
  font-size: 40px;
}

.play-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}
@media (min-width: 300px) {
  body {
    color: rgb(14, 13, 13);
  }
}


